@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Roboto&display=swap');

body {
  background: #eee;
}

.form-box {
  width: 350px;
  background: #fff;
  padding: 15px;
  margin: 20px;
  font-family: Roboto;
}

.form-box input,
.form-box select,
.form-box button {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.certificate {
  width: 29.7cm;
  height: 21cm;
  margin: auto;
  padding: 40px;
  position: relative;
  font-family: Playfair Display;
}

/* TEMPLATE 1 – CLASSIC */
.classic {
  background: #f8f4dc;
  border: 10px solid #19365f;
}

/* TEMPLATE 2 – MODERN */
.modern {
  background: #eef4ff;
  border: 10px solid #003366;
}

/* TEMPLATE 3 – GOLD */
.gold {
  background: #fffaf0;
  border: 10px solid #c9a227;
}

.logo {
  position: absolute;
  top: 30px;
  left: 40px;
  width: 180px;
}

h1 {
  text-align: center;
  font-size: 48px;
  color: #19365f;
}

h3 {
  text-align: center;
  letter-spacing: 4px;
}

.name {
  text-align: center;
  color: #d84c3a;
  font-size: 40px;
}

.highlight {
  color: #d84c3a;
}

.bottom {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 40px;
  width: 90%;
}

.badges img {
  width: 80px;
}

.stamp {
  width: 90px;
}
